name: l10n_decompose_example
description: "Example of l10n_decompose package"
publish_to: 'none'
version: 0.1.0

resolution: workspace

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: any

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  l10n_decompose:
    path: ../

flutter:
  uses-material-design: true
  generate: true
